{% extends 'base.html' %}

{% load static %}

{% block title %}
    {% if company_id == 1 %}
        Dell Technologies
    {% elif company_id == 2 %}
        IBM
    {% elif company_id == 3 %}
        Cisco Systems
    {% endif %}
{% endblock %}

{% block styles %}
body {
    background-color: #FFD700;
    color: black;
    font-family: 'Calibri';
}
li {
    font-size: 24px;
    margin-bottom: 15px;
}
li:hover {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
{% endblock %}

{% block content %}
    {% if company_id == 1 %}
        <h1 align="center">Dell Technologies</h1>
        <img src="{% static 'Dell-Technologies.png' %}", height='300'>
        <p><strong>Индустрия:</strong> Компьютерное ПО, облачные вычисления.<br />
        <strong>Рыночная стоимость:</strong> $55 млрд.<br />
        <strong>Сотрудники:</strong> 165 000 человек.</p>
        <p>Сегодня <strong>Dell считается самой прибыльной ИТ компанией в мире</strong>. Ее годовая прибыль составляет $92 млрд., а количество клиентов по всему миру превышает отметку в 10 млн. Интересно, что почти 99% компаний из рейтинга Fortune 500 сотрудничают с этим "айти" гигантом.</p>
        <p>Dell была основана в 1984 году 19-летним студентом Майклом Деллом. Тогда его главной идеей была продажа ПК с адаптивными конфигурациями — при покупке клиент мог выбирать любые необходимые комплектующие, которые полностью соответствовали бы его индивидуальным потребностям.</p>
        <p>Со временем предприятие стало одним из самых популярных производителей ПК и оборудования. Но с недавних пор, благодаря своим дочерним компаниям EMC, Pivotal, RSA, Secureworks, Virtustream, и VMware, оно начало больше фокусироваться на ПО, облачных хранилищах, виртуальной реальности, ИТ инфраструктурах, дата-центрах и цифровой безопасности.</p>
        <p>В 2015 году Dell приобрела EMC за $67 млрд., что до сих пор считается одной из самых дорогих покупок в IT индустрии.</p>
        <p>Компания работает в 180 странах мира. Штаб-квартира находится в Раунд-Роке, Техас, США.<br />
    {% elif company_id == 2 %}
        <h1 align="center">IBM</h1>
        <img src="{% static 'IBM.png' %}", height='300'>
        <p><strong>Индустрия:</strong> Облачные вычисления, ИИ, компьютерное ПО.<br />
        <strong>Рыночная стоимость:</strong> $115 млрд.<br />
        <strong>Сотрудники:</strong> 384 000 человек.</p>
        <p><strong>IBM — вторая по прибыльности IT компания в мире</strong> с годовым доходом превышающим $77 миллиардов. И это не странно, учитывая, что почти 97% мировых банков и 80% компаний розничной торговли используют продукты и услуги этой фирмы.</p>
        <p>Компания International Business Machines (IBM) или "Голубой Гигант" (Big Blue), как ее иногда называют, была основана в 1911 году Чарльзом Флинтом.</p>
        <p>За свою столь длинную историю, IBM подарила нашему миру много отличных изобретений, среди которых дискеты, жесткие диски, магнитная полоса на кредитках, система штрих-кодов и много другое. Кстати, первый банкомат тоже появился благодаря мэйнфрейму компании.</p>
        <p>Сегодня одни из самых популярных сервисов IBM связаны с облачными и когнитивными вычислениями, IT инфраструктурой, компьютерной безопасностью, интернетом вещей, анализом данных, блокчейном и искусственным интеллектом (ИИ).</p>
        <p>На протяжении своего существования, у компании было более 130 поглощений и слияний. Но самой дорогой считается сделка с Red Hat стоимостью $34 млрд.</p>
        <p>IBM имеет представительства в более чем 170 странах мира. Главный офис находится в Армонке, Нью Йорк, США.</p>
    {% elif company_id == 3 %}
        <h1 align="center">Cisco Systems</h1>
        <img src="{% static 'cisco.png' %}", height='300'>
        <p><strong>Индустрия:</strong> Сетевое ПО.<br />
        <strong>Рыночная стоимость:</strong> $192 млрд.<br />
        <strong>Сотрудники:</strong> 77 500 человек.</p>
        <p><strong>Cisco Systems — третья самая успешная IT компания в мире по доходу.</strong> Ее годовая прибыль уже превысила $50 млрд. Обычно Cisco знают как производителя коммутаторов, роутеров и другого сетевого оборудования.</p>
        <p>Но с 2015 года компания решила углубиться в инновационные сферы, связанные с ПО. Сегодня Cisco также занимается интернетом вещей, кибербезопасностью, облачными вычислениями, дата-центрами и анализом данных.</p>
        <p>Компания была основана в 1984 году Леонардом Босаком и Сандрой Лернер. Они создали коммерчески успешный многопротокольный маршрутизатор, который соединял ранее несовместимые компьютеры и был построен на базе стэндфордского Blue Box Router.</p>
        <p>Интересно, что в 2000 году Cisco была самой дорогой компанией в мире, благодаря так называемому Пузырю доткомов (Dot-com bubble). Рыночная капитализация компании достигла рекордной отметки в $500 млрд.</p>
        <p>Начиная с 1993 года Cisco поглотила примерно 170 разных предприятий. Сегодня она имеет представительства в более чем 160 странах, а главный офис находится в Сан-Хосе, Калифорния, США.</p>
    {% endif %}

    <div id="back">
        <a href='../'><img src="{% static 'arrow.png' %}", height='50'></a>
    </div>
{% endblock %}